.MyteAbout{
    visibility: hidden;
    display: inline-block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .88;
}
.MyteAboutPage{
    display: inherit;
    margin: 10pt 30pt 0pt 30pt;
    height: 100%;
    background-color:white;
    opacity: 1;
}