.Myte-Header{
    background-color: green;
    display: grid;
    grid-template-columns: 40% 200pt 40pt 40pt 40pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
}
.Myte-Header-Logo{
    background-color: royalblue;
    text-align: left;
    padding-left: 10pt;
}
