.MytePostList{
    background-color: white;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300pt, 1fr));
    column-gap: 10pt;
    row-gap: 10pt;
    margin: 5pt 10pt 0 10pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
}
